* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  color: #5b5b5b;
  font-family: "Roboto", sans-serif;
  background-color: rgb(255, 255, 255);
}

#root {
  height: 100%;
}

.app {
  height: 100%;
  display: flex;
  position: relative;
}
